.App {
  text-align: center;
}

.navebar {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  /* Styling for each article preview */
  .article-preview-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "image text"
      "image text";
  }
  .text-for-article {
    grid-area: text;
  }
  .article-photo {
    max-width: 100%;
    grid-area: image;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 15px;
  }
  .single-header {
    color: white;
    text-decoration: underline;
    font-size: 16px;
  }
  .single-topic {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-rows: masonry;
    grid-template-areas:
      "image articles-section "
      "latest-news articles-section"
      ". articles-section"
      "footer footer ";
  }

  .topic-img-cover {
    grid-area: image;
    width: 100%;
  }
  .latest-news-topic {
    grid-area: latest-news;
    background-color: #64aebf;
    color: white;
  }
  .navebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .toggle-button {
    display: none;
  }

  .toggle-button span {
    display: none;
  }
  .home-page-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "latest-news coding cooking football"
      "latest-news . . ."
      "latest-news . . .";
  }
  .latest-news {
    grid-area: latest-news;
    background-color: #64aebf;
  }
  .coding-img {
    width: 100%;
    grid-area: coding;
  }
  .cooking-img {
    width: 100%;

    grid-area: cooking;
  }
  .football-img {
    width: 100%;
    grid-area: football;
  }

  .banner {
    border: solid 2px #64aebf;
    padding: 5px;
    margin-bottom: 2px;
  }
  .article {
    list-style: none;
  }

  .container {
    position: relative;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 40%;
    color: white;
  }

  /* Size of img when mobile view is in place */

  .articles-section {
    grid-area: articles-section;
  }
  .default-user-img {
    width: 2rem;
    border-radius: 50px;
  }
  .footer {
    grid-area: footer;
    padding: 50px;
    background-color: #64aebf;
    color: white;
  }
  .footer > ul > li {
    list-style: none;
  }
}

.all-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  grid-gap: 20px;
  list-style: none;
}

.single-article {
  background-color: #64aebf;
  color: white;
  border-radius: 15px;
}

/* navbar css */
.navbar {
  position: absolute;
  width: 200px;
  height: 100%;
  background: #eeefee;
  top: 150px;
  left: -210px;
  transition: 0.4s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  color: black;
  z-index: 10;
}

.navbar > ul > li > a {
  color: #3ab39d;
  text-align: center;
  position: relative;
  right: 60px;
}

.navbar.active {
  left: 0px;
  z-index: 1000;
}

.navbar ul li {
  list-style: none;
  color: black;
  font-size: 20px;
  padding: 20px 30px;
  font-style: normal;
  margin: 0;
  width: 20px;
}
.toggle-button {
  position: relative;
  left: 140px;
  font-size: 2.7rem;
  color: black;
  top: -30px;
}

.toggle-button span {
  width: 45px;
  height: 45px;
  background-color: black;
  display: block;
}

/* making the title banner look nice */
.topic-container {
  position: relative;
  /* text-align: center; */
}
.topic-img-cover {
  width: 100%;
}
.single-topic-heading {
  text-transform: capitalize;
  color: white;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Styling for each article preview */
.article-preview-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "image text"
    "image text";
}
.text-for-article {
  grid-area: text;
}
.single-header {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}
.article-photo {
  max-width: 75%;
  grid-area: image;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-count {
  color: white;
  text-decoration: underline white;
}
